{% extends 'layouts/dashboard/base.html' %}

{% block title %}
لوحة التحكم
{% endblock %}

{% block page_header %}
قراءة الرسالة
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active">قراءة الرسالة</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'accounts:create_message' %}" class="btn btn-success btn-block mb-3">رسالة جديدة</a>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">المجلد</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item active">
                            <a href="{% url 'accounts:inbox_messages' %}" class="nav-link">
                                <i class="fas fa-inbox"></i> الوارد
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:sent_messages' %}" class="nav-link">
                                <i class="far fa-envelope"></i> المرسل
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">الرسالة</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="mailbox-read-info">
                        <h5 class="mb-3">الموضوع: {{ my_message.subject }}</h5>
                        <h6>من: {{ my_message.sender_user.get_full_name }}
                        </h6>
                        <h6>إلى: {{ my_message.recipient_user.get_full_name }}
                            <span class="mailbox-read-time float-right">{{ my_message.created }}</span>
                        </h6>
                    </div>
                    <!-- /.mailbox-read-info -->
                    <div class="mailbox-read-message">
                        {{ my_message.description }}
                    </div>
                    <!-- /.mailbox-read-message -->
                </div>
                <!-- /.card-body -->
                <!-- <div class="card-footer">
                    <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
                </div> -->
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div><!-- /.container-fluid -->
{% endblock %}
