{% extends 'layouts/index/base.html' %}

{% block title %}
    تسجيل الدخول
{% endblock %}

{% block content %}
    <main>
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <!-- <h1 class="text-green-500 text-3xl font-bold text-center">eLearning</h1> -->
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                    تسجيل الدخول إلى حسابك
                </h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-xl">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form class="space-y-6" action="{% url 'accounts:login' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">
                            البريد الإلكتروني / اسم المستخدم
                        </label>
                        <div class="mt-2">
                            <input id="email" name="username" type="text" autocomplete="email" required
                                   class="block w-full rounded-full border-0 px-4 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6 outline-none">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <small class="text-red-500 px-4 font-medium">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">
                                كلمة المرور
                            </label>
                            <div class="text-sm">
                                <a href="#" class="font-semibold text-green-500 hover:text-green-400">
                                    هل نسيت كلمة السر؟
                                </a>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input id="password" name="password" type="password" autocomplete="current-password"
                                   required
                                   class="block w-full rounded-full border-0 px-4 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6 outline-none">
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <small class="text-red-500 px-4 font-medium">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                                class="flex w-full justify-center rounded-full bg-green-500 px-3 py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
                            تسجيل الدخول
                        </button>
                    </div>
                </form>
                <p class="mt-10 text-center text-sm text-gray-500">
                    لست عضوا؟
                    <a href="{% url 'accounts:register' %}" class="font-semibold leading-6 text-green-500 hover:text-green-400">
                        سجل الآن
                    </a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}